# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\rothe\OneDrive\Images\Documents\Cours\L3\S2\Patron de conception\Projet\Ressource\Archive\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
